<%- include('layouts/header') %> 
<%- include('layouts/nav') %> 

<h2>Daftar contact</h2>
<% mahasiswa.forEach(mhs => { %>
    <ul>
        <li><%= mhs.nama %> </li>
        <li><%= mhs.hp %> </li>
        <li><%= mhs.email %> </li>
    </ul>
<% }) %>

<%- include('layouts/footer') %> 
